.qna {
    color: $text-color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
    height: 60vh;
    .qna h1 {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .qna p {
        padding: 30px 30px;
        width: 60%;
    }
}