@import 'variables';

@import 'nav';


@import 'bs';


@import 'hero';

@import 'section1';

@import 'footer';

// Body
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Nav
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: $text-color1;
    align-items: center;
    .logo {
        width: 40vw;
    }
    .navlinks {
        display: flex;
        align-items: center;
        list-style: none;
        .link {
            margin: 0 30px;
            a {
                color: $text-color2;
                text-decoration: none;
                font-size: $p-fontsize;
                font-weight: bold;
            }
        }   
    }
    .btn {
        text-decoration: none;
        padding: 8px 15px;
        background: $secondary-color;
        border-radius: 20px;
        color: $text-color1;
    }
}

// Header
header {
    background-image: url(../img/pexels-alexander-dummer-134469.jpg);
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .hero {
        margin-bottom: 150px;
        color: $text-color2;
        text-align: center;
        .hero-h1 {
            font-weight: bold;
            margin-bottom: 100px;
            font-size: $h1-fontsize;
        }
        .btn {
            text-decoration: none;
            padding: 8px 15px;
            background: $secondary-color;
            border-radius: 20px;
            color: $text-color1;
        }
    }
}


// Section1
.info {
    width: 80%;
    margin: 80px auto;
    .info-h2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            .aboutus-image {
                width: 80%;
            }
        }
    }
}

// sd
.carousel-size {
    width: 100%;
    height: 50%;
    
    margin: 0;
    .carousel-item {
        background-size: cover;
        height: 50%;
    }
}


